//Base Styles

body {
	font-family: 'Roboto', sans-serif;
}

$ydaPink: #f7c2cc;
$ydaMint: #52e0ba;
$ydaGrey: #4f4f4f;
$ydaBlue: #B0D9E7;
$ydaPinkRGB: rgb(247,194,204);
$ydaMintRGB: rgb(82,224,186);
$ydaGreyRGB: rgb(79,79,79);